.pheading{
 
    font-size: 30px ;
    margin-bottom: 20px;
}
.proimg{
    border: 1px solid black;
    height: 180px;
    width: 180px;
}
.prodiv{
    padding-left:15px ;
    
}
.prodiv1{
    input{
        
        margin-top: 10px;
        width: 100%;
    }
}
.infobtn{
    margin-top: -3.5em;
}